/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family:inherit;} /*установили шрифт, по умолчанию не наследуется если установить для body свой шрифт */

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: 400;}
/*--------------------*/

.arial {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.fontsize30 {
	font-size: 30px;
}

.italic {
	font-style: italic;
	font-size: 40px;
}

.font700 {
	font-weight: 700;
}

.colorred {
	color: #ff0000;
}

.textright {
	text-align: justify;
}
.decor {
	text-decoration: line-through;
	text-decoration: overline;
	text-decoration: underline;

}
.shadowtext {
	text-shadow: 2px 2px 5px #faf;
}
.trans {
	text-transform: capitalize;
}
.indent {
	text-indent: 50px;
}
.spacing {
	letter-spacing: 10px;
	text-shadow: 2px 2px 4px #000;
}
.wspacing {
	word-spacing: 10px;
}
.whites {
	white-space: nowrap;
}
.line-height {
	line-height: 30px;
}